.bgimg-100{
    background-image: url('../image/Companies.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.tshadow-sm{
    text-shadow: 0px 1px 0px rgb(255, 255, 255);
}



nav ul li a {
    transition: all 0.3s ease;
    text-align: center;
}

/* Style untuk link yang aktif */
nav ul li a.active {
    color: #4C361A; /* Warna untuk link yang aktif */
    transform: scale(105%); /* Skala untuk link yang aktif */
    font-weight: 700; /* Medium font-weight */
}

.password-eye {
    cursor: pointer;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #DCBC92;
}

.shadow-cs{
    box-shadow: 0px 0px 30px rgba(7, 6, 6, 0.281);
}

.mbg-black{
    background: rgba(24, 24, 24, 0.452);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(0, 0, 0, 0.74);
}


.bg-metalic-white{
    background: rgba(255, 255, 255, 0.48);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.visible {
    display: block;
}

.hide {
    display: none;
}